// Fonts
/*@font-face {
    font-family: 'Aileron';
    src: url('~assets/fonts/aileron-ultralight-webfont.eot');
    src: url('~assets/fonts/aileron-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('~assets/fonts/aileron-ultralight-webfont.woff') format('woff'),
         url('~assets/fonts/aileron-ultralight-webfont.ttf') format('truetype'),
         url('~assets/fonts/aileron-ultralight-webfont.svg#Aileron') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('~assets/fonts/aileron-ultralightitalic-webfont.eot');
    src: url('~assets/fonts/aileron-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('~assets/fonts/aileron-ultralightitalic-webfont.woff') format('woff'),
         url('~assets/fonts/aileron-ultralightitalic-webfont.ttf') format('truetype'),
         url('~assets/fonts/aileron-ultralightitalic-webfont.svg#Aileron') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('~assets/fonts/aileron-thin-webfont.eot');
    src: url('~assets/fonts/aileron-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('~assets/fonts/aileron-thin-webfont.woff') format('woff'),
         url('~assets/fonts/aileron-thin-webfont.ttf') format('truetype'),
         url('~assets/fonts/aileron-thin-webfont.svg#aileronthin') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('~assets/fonts/aileron-thinitalic-webfont.eot');
    src: url('~assets/fonts/aileron-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('~assets/fonts/aileron-thinitalic-webfont.woff') format('woff'),
         url('~assets/fonts/aileron-thinitalic-webfont.ttf') format('truetype'),
         url('~assets/fonts/aileron-thinitalic-webfont.svg#Aileron') format('svg');
    font-weight: 200;
    font-style: italic;
}*/
@font-face {
  font-family: 'Aileron';
  src: url('~assets/fonts/aileron-light-webfont.eot');
  src: url('~assets/fonts/aileron-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/aileron-light-webfont.woff') format('woff'),
    url('~assets/fonts/aileron-light-webfont.ttf') format('truetype'),
    url('~assets/fonts/aileron-light-webfont.svg#Aileron') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('~assets/fonts/aileron-lightitalic-webfont.eot');
  src: url('~assets/fonts/aileron-lightitalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/aileron-lightitalic-webfont.woff') format('woff'),
    url('~assets/fonts/aileron-lightitalic-webfont.ttf') format('truetype'),
    url('~assets/fonts/aileron-lightitalic-webfont.svg#Aileron') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('~assets/fonts/aileron-regular-webfont.eot');
  src: url('~assets/fonts/aileron-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/aileron-regular-webfont.woff') format('woff'),
    url('~assets/fonts/aileron-regular-webfont.ttf') format('truetype'),
    url('~assets/fonts/aileron-regular-webfont.svg#Aileron') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('~assets/fonts/aileron-italic-webfont.eot');
  src: url('~assets/fonts/aileron-italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/aileron-italic-webfont.woff') format('woff'),
    url('~assets/fonts/aileron-italic-webfont.ttf') format('truetype'),
    url('~assets/fonts/aileron-italic-webfont.svg#Aileron') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('~assets/fonts/aileron-semibold-webfont.eot');
  src: url('~assets/fonts/aileron-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/aileron-semibold-webfont.woff') format('woff'),
    url('~assets/fonts/aileron-semibold-webfont.ttf') format('truetype'),
    url('~assets/fonts/aileron-semibold-webfont.svg#Aileron') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('~assets/fonts/aileron-semibolditalic-webfont.eot');
  src: url('~assets/fonts/aileron-semibolditalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/aileron-semibolditalic-webfont.woff') format('woff'),
    url('~assets/fonts/aileron-semibolditalic-webfont.ttf') format('truetype'),
    url('~assets/fonts/aileron-semibolditalic-webfont.svg#Aileron')
      format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/*@font-face {
font-family: 'Aileron';
src: url('~assets/fonts/aileron-bold-webfont.eot');
src: url('~assets/fonts/aileron-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('~assets/fonts/aileron-bold-webfont.woff') format('woff'),
     url('~assets/fonts/aileron-bold-webfont.ttf') format('truetype'),
     url('~assets/fonts/aileron-bold-webfont.svg#Aileron') format('svg');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'Aileron';
src: url('~assets/fonts/aileron-bolditalic-webfont.eot');
src: url('~assets/fonts/aileron-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('~assets/fonts/aileron-bolditalic-webfont.woff') format('woff'),
     url('~assets/fonts/aileron-bolditalic-webfont.ttf') format('truetype'),
     url('~assets/fonts/aileron-bolditalic-webfont.svg#Aileron') format('svg');
font-weight: 600;
font-style: italic;
}
@font-face {
font-family: 'Aileron';
src: url('~assets/fonts/aileron-heavy-webfont.eot');
src: url('~assets/fonts/aileron-heavy-webfont.eot?#iefix') format('embedded-opentype'),
     url('~assets/fonts/aileron-heavy-webfont.woff') format('woff'),
     url('~assets/fonts/aileron-heavy-webfont.ttf') format('truetype'),
     url('~assets/fonts/aileron-heavy-webfont.svg#Aileron') format('svg');
font-weight: 800;
font-style: normal;
}
@font-face {
font-family: 'Aileron';
src: url('~assets/fonts/aileron-heavyitalic-webfont.eot');
src: url('~assets/fonts/aileron-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('~assets/fonts/aileron-heavyitalic-webfont.woff') format('woff'),
     url('~assets/fonts/aileron-heavyitalic-webfont.ttf') format('truetype'),
     url('~assets/fonts/aileron-heavyitalic-webfont.svg#Aileron') format('svg');
font-weight: 800;
font-style: italic;
}
@font-face {
font-family: 'Aileron';
src: url('~assets/fonts/aileron-black-webfont.eot');
src: url('~assets/fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
     url('~assets/fonts/aileron-black-webfont.woff') format('woff'),
     url('~assets/fonts/aileron-black-webfont.ttf') format('truetype'),
     url('~assets/fonts/aileron-black-webfont.svg#Aileron') format('svg');
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: 'Aileron';
src: url('~assets/fonts/aileron-blackitalic-webfont.eot');
src: url('~assets/fonts/aileron-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('~assets/fonts/aileron-blackitalic-webfont.woff') format('woff'),
     url('~assets/fonts/aileron-blackitalic-webfont.ttf') format('truetype'),
     url('~assets/fonts/aileron-blackitalic-webfont.svg#Aileron') format('svg');
font-weight: 900;
font-style: italic;
}*/
