// Forms
.form-control {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  color: $middle-gray;
  @include box_shadow(1);
  &:focus {
      outline: 0;
      @include box_shadow(3);
      @include transition(box-shadow 0.3s ease-in-out);
  }
  // Placeholder
  &::placeholder {
      color: $french-gray;
      // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
      opacity: 1;
  }
}
select.form-control {
  &[size],
  &[multiple] {
      height: auto;
  }
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: $spacer;
}

// Labels
label {
  font-size: 0.875rem; // 14px
}

// Checkboxes and Radios
.form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;
}

.form-check-input {
  position: absolute;
  margin-top: $form-check-input-margin-y;
  margin-left: -$form-check-input-gutter;

  // Use [disabled] and :disabled for workaround https://github.com/twbs/bootstrap/issues/28247
  &[disabled] ~ .form-check-label,
  &:disabled ~ .form-check-label {
      color: $text-muted;
  }
}

.form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; // Override base .form-check
  margin-right: $form-check-inline-margin-x;

  // Undo .form-check-input defaults and add some `margin-right`.
  .form-check-input {
      position: static;
      margin-top: 0;
      margin-right: $form-check-inline-input-margin-x;
      margin-left: 0;
  }
}

// Validation
// Validation
.invalid-feedback,
.valid-feedback {
  display: none;
  width: 100%;
  font-size: 0.875rem; // 14px
  font-weight: $font-weight-bold;
  margin-top: 2px;
}
.invalid-feedback {
  color: $red;
}
.valid-feedback {
  color: $deyork;
}
.form-control {
  &.is-invalid,
  &.is-valid {
      ~ .invalid-feedback,
      ~ .valid-feedback {
          display: block;
      }
  }
  &.is-invalid {
      border-color: $red;
  }
  &.is-valid {
      border-color: $deyork;
  }
}
