// Global
body {
  // padding-top: 65px;
}

hr {
  margin-top: $spacer;
  margin-bottom: $spacer;
  border: 0;
  border-top: 1px solid $sanmarino;
}

.content-container {
  min-height: 100vh;
  padding-bottom: 2rem;
}

// Logo
.logo {
  max-width: 100%;
  height: auto;
  .color-apple {
    fill: $apple;
  }
  .color-sanmarino {
    fill: $sanmarino;
  }
  .color-none {
    fill: none;
  }
}

// Headers
.page-header {
  margin-bottom: 2rem; // 32px
  border-bottom: 1px solid $sanmarino;
}
