// Mixins

// Box Shadows
@mixin box_shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

// Transitions
@mixin transition($transition...) {
  @if length($transition) == 0 {
    transition: $transition-base;
  } @else {
    transition: $transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

// Color Swatches
@mixin swatch($swatches...) {
  @each $swatch in $swatches {
    $i: index($swatches, $swatch);
    &.swatch#{$i} {
      background-color: $swatch;
    }
  }
}

// Buttons
@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

// Paragraph Sizing
@mixin paragraph-sizing() {
  max-width: $max-width;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem; // 20px
  @media (min-width: $grid-md) {
    // padding: 0 4rem; // 64px
    margin-left: 4rem;
    margin-right: 4rem;
  }
  @media (min-width: $grid-lg) {
    // padding: 0 6rem; // 96px
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
