// Content
section.page {
  padding: 0 30px;

  .content {
    max-width: $max-width;
    margin: 0 auto;
    padding: 100px 0;
  }
  h2 {
    margin-bottom: 1rem;
  }
  .section-description {
    font-size: 1.25rem; // 20px
    max-width: 800px;
    margin-bottom: 2rem;
  }
}

// Masthead
.entry-masthead {
  overflow: hidden;
  position: relative;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  // flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding: 1em;
  @media (min-width: $grid-md) {
    min-height: 100vh;
    margin-bottom: 3rem; // 48px
    padding: ($nav-height + 3rem) 0 3rem 0; // 72 + 48px / 48px
  }
  .featured-img {
    &:before,
    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: '\020';
      width: 100%;
      height: 100%;
    }
    &:before {
      background: $sanmarino;
      mix-blend-mode: screen;
      opacity: 0.1;
    }
    &:after {
      background: $sanmarino;
      opacity: 1;
      z-index: 3;
      mix-blend-mode: multiply;
    }
    img {
      height: auto;
      left: 50%;
      max-width: 1000%;
      min-height: 100%;
      min-width: 100vw;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: auto;
      z-index: 1;
      height: 100%;
      left: 0;
      object-fit: cover;
      top: 0;
      transform: none;
      width: 100%;
    }
  }
  .entry-header {
    position: relative;
    z-index: 9;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 4rem; // 64px
    color: #fff;
    h1 {
      // font-size: 3.125rem; // 50px
      margin-bottom: 1rem;
      color: #fff;
    }
    .entry-meta {
      margin-bottom: 1rem;
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Blog / Portfolio
.article-container {
  // max-width: $max-width;
  margin: 0 auto;
  // padding: 0 30px;
  header {
    // margin: 2rem 0; // 32px 0
  }
  .entry-meta {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem; // 14px
    > time,
    > div,
    > a {
      margin-right: 0.875rem; // 14px
    }
    .category-link::before {
      content: ' ';
      display: inline-block;
      -webkit-mask: url('~assets/img/folder-icon.svg') no-repeat;
      mask: url('~assets/img/folder-icon.svg') no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      background-size: contain;
      background-color: #fff;
      width: 1em;
      height: 1em;
      margin-right: 0.25rem; // 4px
    }
  }
  .entry-content {
    max-width: $max-width;
    padding: 0 1em;
    font-size: 1.25rem; // 20px
    @media (min-width: $grid-md) {
      padding: 0 4rem; // 64px
    }
    h2 {
      margin-top: ($spacer * 3); // 48px;
      margin-bottom: ($spacer * 2); // 32px
    }
    .wp-block-code {
      border-radius: 0;
      margin: ($spacer * 2) 0; // 32px
      code {
        font-size: 1.25rem; // 20px
        white-space: pre-wrap;
        word-break: break-word;
      }
    }
  }
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #81a1c1;
  }
}

// Bootstrap Classes
.figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;
}

.figure-img {
  margin-bottom: $spacer / 2;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: $middle-gray;
}

/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

.wp-block-image img {
  max-width: 100%;
  height: auto;
  .entry .entry-content & {
    display: block;
  }
}

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer * 2) auto;
  height: auto;
  img {
    margin: 0 auto;
  }
}

.alignleft,
.alignright {
  margin-bottom: ($spacer * 2);
  height: auto;
}

@media (min-width: $grid-sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer * 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer * 2);
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}
