// Content
section.page {
  padding: 0 30px;

  .content {
    max-width: $max-width;
    margin: 0 auto;
    padding: 100px 0;
  }
  h2 {
    margin-bottom: 1rem;
  }
  .section-description {
    font-size: 1.25rem; // 20px
    max-width: 800px;
    margin-bottom: 2rem;
  }
}
#portfolio-content {
  height: $nav-height;
}

// Masthead
.entry-masthead {
  overflow: hidden;
  position: relative;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  // flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding: $nav-height 0 1rem;
  margin-bottom: 3rem; // 48px
  @media (min-width: $grid-md) {
    min-height: 100vh;
    // margin-bottom: 3rem; // 48px
    padding: ($nav-height + 3rem) 0 3rem 0; // 72 + 48px / 48px
  }
  .entry-header {
    position: relative;
    z-index: 9;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1rem;
    color: #fff;
    @media (min-width: $grid-md) {
      padding: 0 4rem; // 64px
    }
    h1 {
      // font-size: 3.125rem; // 50px
      margin-bottom: 1rem;
      color: #fff;
    }
    .entry-meta {
      > div {
        margin-bottom: 1rem;
      }
    }
    .entry-caption {
      font-size: 1.25rem; // 20px
      font-weight: $headings-font-weight;
      @media (min-width: $grid-md) {
        max-width: 50%;
      }
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Meta
.entry-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem; // 14px
  > time,
  > div,
  > a {
    margin-right: 0.875rem; // 14px
  }
  .category-link::before {
    content: ' ';
    display: inline-block;
    -webkit-mask: url('~assets/img/folder-icon.svg') no-repeat;
    mask: url('~assets/img/folder-icon.svg') no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-size: contain;
    background-color: #fff;
    width: 1em;
    height: 1em;
    margin-right: 0.25rem; // 4px
  }
  .btn-view-more-container {
    width: 100%;
  }
}

// Blog / Portfolio
.article-container,
.project-container {
  // max-width: $max-width;
  margin: 0 auto;
  // padding: 0 30px;
  header {
    // margin: 2rem 0; // 32px 0
  }
  .entry-content {
    max-width: $max-width;
    padding: 0 1rem;
    font-size: 1.25rem; // 20px
    @media (min-width: $grid-md) {
      padding: 0 4rem; // 64px
    }
    h2 {
      margin-top: ($spacer * 3); // 48px;
      margin-bottom: ($spacer * 2); // 32px
    }
    .wp-block-code {
      border-radius: 0;
      margin: ($spacer * 2) 0; // 32px
      code {
        font-size: 1.25rem; // 20px
        white-space: pre-wrap;
        word-break: break-word;
      }
    }
  }
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #81a1c1;
  }
  .portfolio-item-grid {
    display: grid;
    grid-gap: 2rem;
    @media (min-width: $grid-md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    > div {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
    > p {
      grid-column: 1/-1;
      margin-bottom: 0;
    }
    img {
      max-width: 100%;
      height: auto;
      &.portfolio-img {
        @include box-shadow(3);
        &.portfolio-browser {
          border-radius: 5px;
        }
      }
    }
    h2 {
      margin-bottom: $spacer;
    }
  }
  > .portfolio-item-grid {
    max-width: 1430px;
    margin: 0 auto 2rem auto;
    padding: 30px;
  }
}

// Bootstrap Classes
.figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;
}

.figure-img {
  margin-bottom: $spacer / 2;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: $middle-gray;
}

/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

.wp-block-image img {
  max-width: 100%;
  height: auto;
  .entry .entry-content & {
    display: block;
  }
}

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer * 2) auto;
  height: auto;
  img {
    margin: 0 auto;
  }
}

.alignleft,
.alignright {
  margin-bottom: ($spacer * 2);
  height: auto;
}

@media (min-width: $grid-sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer * 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer * 2);
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}
